<div class="container">
    <hr>
    <form #carForm="ngForm" (ngSubmit)="submitCar()">
      <div class="form-group">
        <label>Model</label>
        <input #model="ngModel" [(ngModel)]="car.model" name="model" type="text" class="form-control" required minlength="2">
        
        <div *ngIf="model.invalid && (model.dirty || model.touched)" class="alert alert-danger">
            <div *ngIf="model.errors.required">
                Model is required.
            </div>
            <div *ngIf="model.errors.minlength">
                Model must be at least 2 characters long.
            </div>
        </div>

      </div>
      <div class="form-group">
        <label>Mark</label>
        <input #mark="ngModel" [(ngModel)]="car.mark" name="mark" type="text" class="form-control" required minlength="2">
        
        <div *ngIf="mark.invalid && (mark.dirty || mark.touched)" class="alert alert-danger">
            <div *ngIf="mark.errors.required">
                Mark is required.
            </div>
            <div *ngIf="mark.errors.minlength">
                Mark must be at least 2 characters long.
            </div>
        </div>

      </div>
      <div class="form-group"[formGroup]="newTaskForm">
        <label>Number of doors</label>
        <input [formControlName]="'doors'" [(ngModel)]="car.numberOfDoors" type="text" class="form-control"required>
        
        <p *ngIf="!newTaskForm.controls.doors.valid && newTaskForm.controls.doors.touched">
            Number of doors must be between 2 and 5
        </p>

        <label>Max Speed</label>
        <input [formControlName]="'speed'"[(ngModel)]="car.maxSpeed"  type="text" class="form-control">
        
        <p *ngIf="!newTaskForm.controls.speed.valid && newTaskForm.controls.speed.touched">
            Max speed must be between 20 and 300
        </p>

      </div>

      <div class="form-group">
          <label>Year</label>
          <select #year [(ngModel)]="car.year" name="year" class="form-control" required>
            <option *ngFor="let year of years">{{ year }}</option>
          </select>
    </div>
      <div class="form-group">
        <label>Engine:</label>
        <br>
        <input #engine [(ngModel)]="car.engine"required type="radio" name="engine" value="diesel"> Disel
        <br>
        <input #engine [(ngModel)]="car.engine"required  type="radio" name="engine" value="petrol"> Petrol
        <br>
        <input #engine [(ngModel)]="car.engine"required  type="radio" name="engine" value="hybrid"> Hybrid
        <br>
        <input #engine [(ngModel)]="car.engine"required  type="radio" name="engine" value="electric"> Electric
        <br>
      </div>
      <br>
      <div>
        <label>Type of engine</label>
        <br>
        <input #isAutomatic [(ngModel)]="car.isAutomatic" type="checkbox" name="isAutomatic" required> Automatic
        <br>
      </div>
      <br>

      <button type="button" class="btn btn-info"(click)="carForm.reset()"
        [disabled]="carForm.form.pristine">Reset</button>

      <div class="input-group col-md-5 pl-0 my-lg-4 my-2">

       <button  [disabled]="!carForm.valid || !newTaskForm.valid" type="submit" class="btn btn-primary mr-2">Add car</button>
     
      <button type="button" (click)="preview()" class="btn btn-success">Preview</button>
    </div>

    </form>
  </div>